<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Light - Control Room</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Light - Control Room
      </h1>
      <p class="subtitle">
        Here is everything needed for the <strong>control room</strong> operation!
      </p>
      <br>
      <h2 class="title">
          API
      </h2>
      <p>API Overview</p>
      <br>
      <p>This app is used to handle incoming http requests. </p>
      <br>
      <p>
          more info on how to use the api <a href="http://127.0.0.1:8000/api/">here</a>
      </p>

    </div>
  </section>
  </body>
</html>